:root{
	--darkBgColor: #1b1f21;
	--logoRotation: -15deg;


	--h1-textSize: 4rem;
	--h2-textSize: 3rem;


	--bar-background: black;
	--bar-border: 10px solid gray;
	--bar-border-radius: 20px;
	--bar-extrude: -15px;
	--bar-extrude-color: rgb(63, 63, 63);
	--bar-padding: 30px 20px 20px 20px;
	--bar-gap: 20px;


	--bar-content-height: 5rem;
	--bar-content-extrude: -10px;
	--bar-content-extrude-active: 5px;
	--bar-content-extrude-color: gray;
	--bar-content-extrude-color-focus: lightblue;
	--bar-content-extrude-color-active: lightblue;


	--sidebar-rotate: 8deg;
	--sidebar-translate: 0 -5%;
	--sidebar-height: 110%;
	--sidebar-width: 20%;
	--sidebar-background: black;
	--sidebar-border: 10px solid white;
	--sidebar-gap: 20px;

	--sidebar-item-background: black;
	--sidebar-item-background-disabled: black;
	--sidebar-item-background-hover: gray;

	--sidebar-item-text-color: white;
	--sidebar-item-text-color-disabled: gray;
	--sidebar-item-text-color-hover: white;
	--sidebar-item-text-color-active: gold;
	
	--sidebar-item-border: 10px solid white;
	--sidebar-item-border-disabled: 10px solid gray;
	--sidebar-item-border-hover: 10px solid lightblue;
	--sidebar-item-border-active: 10px solid gold;
	--sidebar-item-border-radius: 20px;
	--sidebar-item-padding: 10px 20px;


	--outline-size-1: 1px;
	--outline-size-2: 1px;
	--outline-color-1: black;
	--outline-color-2: white;
	--outline-1:	drop-shadow(0 var(--outline-size-1) 0 var(--outline-color-1))
					drop-shadow(0 calc(var(--outline-size-1) * -1) 0 var(--outline-color-1))
					drop-shadow(var(--outline-size-1) 0 0 var(--outline-color-1))
					drop-shadow(calc(var(--outline-size-1) * -1) 0 0 var(--outline-color-1));
	
	--outline-2:	drop-shadow(0 var(--outline-size-2) 0 var(--outline-color-2))
					drop-shadow(0 calc(var(--outline-size-2) * -1) 0 var(--outline-color-2))
					drop-shadow(var(--outline-size-2) 0 0 var(--outline-color-2))
					drop-shadow(calc(var(--outline-size-2) * -1) 0 0 var(--outline-color-2));
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Bombardier';
}

body{
	color: white;
	background-color: var(--darkBgColor);
	height: 100vh;
	width: 100hw;
	overflow: hidden;
}

h1{
	font-size: var(--h1-textSize);
}
h2{
	font-size: var(--h2-textSize);
}


/*.--------------------------.*/
/*| background               |*/
/*'--------------------------'*/

#bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -10;
	overflow: hidden;
	background-color: black;
	filter: blur(3px);
}

#bgRows{
	transform-origin: center;
	translate: 0% -18%;
	rotate: var(--logoRotation);
	opacity: 20%;
}

.bg-row{
	display: flex;
	width: 200%;
	padding-bottom: 1vh;
}

.bg-row-content{
	display: flex;
	gap: 1vh;
	padding-right: 1vh;
	animation: scroll-left 100.0s linear infinite;
}

.bg-row-content img{
	height: 3vh;
	user-select: none;
	pointer-events: none;
}

@keyframes scroll-left{
	from{
		translate: -33.33333333333333%;
	}
	to{
		translate: -66.66666666666667%;
	}
}
@keyframes scroll-right{
	from{
		translate: -66.66666666666667%;
	}
	to{
		translate: -33.33333333333333%;
	}
}

/*.--------------------------.*/
/*|==========================|*/
/*'--------------------------'*/



/*.--------------------------.*/
/*| center area content      |*/
/*'--------------------------'*/

content{
	display: grid;
	grid-template-areas:
		'.'
		'l'
		'.'
		'b'
		'.'
		'f'
		'.';
	grid-template-rows: 11fr 1fr 20px 1fr 1rem 1fr 9fr;
	height: 100%;
	width: 75%;
	margin: auto;
	text-align: center;
}
content-item{
	height: 100%;
	width: 100%;
}
content-item.centerpiece > img{
	width: min(800px, 100%);
	padding-bottom: 1rem;
}

fancy-bar{
	display: flex;
	width: fit-content;
	
	margin-top: abs(min(var(--bar-extrude), 0px));  /* 3em */
	margin-bottom: abs(max(var(--bar-extrude), 0px));
	margin-left: auto;
	margin-right: auto;
	gap: var(--bar-gap);
	
	border: var(--bar-border);
	border-radius: var(--bar-border-radius);
	filter: drop-shadow(0 var(--bar-extrude) 0 var(--bar-extrude-color));

	background-color: var(--bar-background);
	
	padding: 30px 20px 20px 20px;
}

fancy-bar a{
	filter: drop-shadow(0 var(--bar-content-extrude) 0 var(--bar-content-extrude-color));
}
fancy-bar a:hover, fancy-bar a:focus{
	filter: drop-shadow(0 var(--bar-content-extrude) 0 var(--bar-content-extrude-color-focus));
}
fancy-bar a:focus{
	outline: medium solid lightblue;
}
fancy-bar a:active{
	outline: none;
	margin-top: calc(-1 * var(--bar-content-extrude-active));
	margin-bottom: var(--bar-content-extrude-active);
	filter: drop-shadow(0 calc(var(--bar-content-extrude) + var(--bar-content-extrude-active)) 0 var(--bar-content-extrude-color-active));
}

fancy-bar img{
	height: var(--bar-content-height);
}

/*.--------------------------.*/
/*|==========================|*/
/*'--------------------------'*/



/*.--------------------------.*/
/*| sidebar                  |*/
/*'--------------------------'*/

sidebar{
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: top right;
	rotate: var(--sidebar-rotate);
	translate: var(--sidebar-translate);
	
	height: var(--sidebar-height);
	width: var(--sidebar-width);
	background-color: var(--sidebar-background);
	border-right: var(--sidebar-border);
	flex-direction: column;
	gap: var(--sidebar-gap);
	justify-content: center;
}

sidebar > a{
	background-color: var(--sidebar-item-background);
	border-top: var(--sidebar-item-border);
	border-bottom: var(--sidebar-item-border);
	border-left: var(--sidebar-item-border);
	border-right: none;
	border-top-left-radius: var(--sidebar-item-border-radius);
	border-bottom-left-radius: var(--sidebar-item-border-radius);

	padding: var(--sidebar-item-padding);
	align-self: flex-end;
	width: fit-content;
	
	text-align: right;
	font-size: var(--h2-textSize);
	color: var(--sidebar-item-text-color);
	cursor: pointer;
	user-select: none;
}
sidebar > a.disabled{
	background-color: var(--sidebar-item-background-disabled);
	border-left: var(--sidebar-item-border-disabled);
	border-top: var(--sidebar-item-border-disabled);
	border-bottom: var(--sidebar-item-border-disabled);
	color: var(--sidebar-item-text-color-disabled);

	cursor: default;
}
sidebar > a:hover:not(.disabled){
	border-left: var(--sidebar-item-border-hover);
	border-top: var(--sidebar-item-border-hover);
	border-bottom: var(--sidebar-item-border-hover);
	color: var(--sidebar-item-text-color-hover);
}
sidebar > a:active:not(.disabled){
	border-left: var(--sidebar-item-border-active);
	border-top: var(--sidebar-item-border-active);
	border-bottom: var(--sidebar-item-border-active);
	color: var(--sidebar-item-text-color-active);
}
