.pixel{
	image-rendering: pixelated;
}
.invisible{
	opacity: 0;
	pointer-events: none;
}
.hidden{
	display: none;
}
.center{
	align-items: center;
	align-content: center;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
}
.full_screen{
	height: 100%;
	width: 100%;
}