color-palette.thielith pal-content pal-row:nth-child(2) color-swatch:nth-child(1) {
  background-color: #fbc762;
}
color-palette.thielith pal-content pal-row:nth-child(2) color-swatch:nth-child(2) {
  background-color: #2a2a2a;
}
color-palette.thielith pal-content pal-row:nth-child(2) color-swatch:nth-child(3) {
  background-color: #3f3f3f;
}
color-palette.thielith pal-content pal-row:nth-child(2) color-swatch:nth-child(4) {
  background-color: #002c94;
}
color-palette.thielith pal-content pal-row:nth-child(2) color-swatch:nth-child(5) {
  background-color: #ffffff;
}
color-palette.thielith pal-content pal-row:nth-child(4) color-swatch:nth-child(1) {
  background-color: #f7a62d;
}
color-palette.thielith pal-content pal-row:nth-child(4) color-swatch:nth-child(2) {
  background-color: #212121;
}
color-palette.thielith pal-content pal-row:nth-child(4) color-swatch:nth-child(3) {
  background-color: #383838;
}
color-palette.thielith pal-content pal-row:nth-child(4) color-swatch:nth-child(4) {
  background-color: #06168f;
}
color-palette.thielith pal-content pal-row:nth-child(4) color-swatch:nth-child(5) {
  background-color: #bcdce6;
}
color-palette.thielith pal-content pal-row:nth-child(6) color-swatch:nth-child(1) {
  background-color: #0aa3a8;
}
color-palette.thielith pal-content pal-row:nth-child(6) color-swatch:nth-child(2) {
  background-color: #000000;
}

color-palette.steel pal-content pal-row:nth-child(2) color-swatch:nth-child(1) {
  background-color: #90a6b0;
}

color-palette.other pal-content pal-row:nth-child(2) color-swatch:nth-child(1) {
  background-color: #85ced6;
}
color-palette.other pal-content pal-row:nth-child(2) color-swatch:nth-child(2) {
  background-color: #0cc8cf;
}
color-palette.other pal-content pal-row:nth-child(2) color-swatch:nth-child(3) {
  background-color: #0aa3a8;
}
color-palette.other pal-content pal-row:nth-child(2) color-swatch:nth-child(4) {
  background-color: #098d94;
}
color-palette.other pal-content pal-row:nth-child(2) color-swatch:nth-child(5) {
  background-color: #087482;
}
color-palette.other pal-content pal-row:nth-child(2) color-swatch:nth-child(6) {
  background-color: #076473;
}
color-palette.other pal-content pal-row:nth-child(2) color-swatch:nth-child(7) {
  background-color: #064e5e;
}
color-palette.other pal-content pal-row:nth-child(4) color-swatch:nth-child(1) {
  background-color: #fae4b9;
}
color-palette.other pal-content pal-row:nth-child(4) color-swatch:nth-child(2) {
  background-color: #fad07d;
}
color-palette.other pal-content pal-row:nth-child(4) color-swatch:nth-child(3) {
  background-color: #fbc762;
}
color-palette.other pal-content pal-row:nth-child(4) color-swatch:nth-child(4) {
  background-color: #f7a62d;
}
color-palette.other pal-content pal-row:nth-child(4) color-swatch:nth-child(5) {
  background-color: #d48713;
}
color-palette.other pal-content pal-row:nth-child(4) color-swatch:nth-child(6) {
  background-color: #b5610d;
}
color-palette.other pal-content pal-row:nth-child(6) color-swatch:nth-child(1) {
  background-color: #4d4d4d;
}
color-palette.other pal-content pal-row:nth-child(6) color-swatch:nth-child(2) {
  background-color: #3f3f3f;
}
color-palette.other pal-content pal-row:nth-child(6) color-swatch:nth-child(3) {
  background-color: #383838;
}
color-palette.other pal-content pal-row:nth-child(6) color-swatch:nth-child(4) {
  background-color: #2a2a2a;
}
color-palette.other pal-content pal-row:nth-child(6) color-swatch:nth-child(5) {
  background-color: #212121;
}
color-palette.other pal-content pal-row:nth-child(6) color-swatch:nth-child(6) {
  background-color: #1b1b1b;
}
color-palette.other pal-content pal-row:nth-child(6) color-swatch:nth-child(7) {
  background-color: #151515;
}
color-palette.other pal-content pal-row:nth-child(8) color-swatch:nth-child(1) {
  background-color: #1052a3;
}
color-palette.other pal-content pal-row:nth-child(8) color-swatch:nth-child(2) {
  background-color: #002c94;
}
color-palette.other pal-content pal-row:nth-child(8) color-swatch:nth-child(3) {
  background-color: #06168f;
}
color-palette.other pal-content pal-row:nth-child(8) color-swatch:nth-child(4) {
  background-color: #001670;
}
color-palette.other pal-content pal-row:nth-child(8) color-swatch:nth-child(5) {
  background-color: #040761;
}
color-palette.other pal-content pal-row:nth-child(8) color-swatch:nth-child(6) {
  background-color: #000145;
}
color-palette.other pal-content pal-row:nth-child(10) color-swatch:nth-child(1) {
  background-color: #ffffff;
}
color-palette.other pal-content pal-row:nth-child(10) color-swatch:nth-child(2) {
  background-color: #d5e8ed;
}
color-palette.other pal-content pal-row:nth-child(10) color-swatch:nth-child(3) {
  background-color: #bcdce6;
}
color-palette.other pal-content pal-row:nth-child(10) color-swatch:nth-child(4) {
  background-color: #a0ccd9;
}
color-palette.other pal-content pal-row:nth-child(10) color-swatch:nth-child(5) {
  background-color: #87b6c4;
}
color-palette.other pal-content pal-row:nth-child(10) color-swatch:nth-child(6) {
  background-color: #6d99b3;
}
color-palette.other pal-content pal-row:nth-child(10) color-swatch:nth-child(7) {
  background-color: #557da3;
}
color-palette.other pal-content pal-row:nth-child(10) color-swatch:nth-child(8) {
  background-color: #376794;
}
color-palette.other pal-content pal-row:nth-child(12) color-swatch:nth-child(1) {
  background-color: #ad00ff;
}
color-palette.other pal-content pal-row:nth-child(12) color-swatch:nth-child(2) {
  background-color: #8d03d0;
}
color-palette.other pal-content pal-row:nth-child(12) color-swatch:nth-child(3) {
  background-color: #420763;
}
color-palette.other pal-content pal-row:nth-child(12) color-swatch:nth-child(4) {
  background-color: #27043a;
}
color-palette.other pal-content pal-row:nth-child(14) color-swatch:nth-child(1) {
  background-color: #d1cad9;
}
color-palette.other pal-content pal-row:nth-child(14) color-swatch:nth-child(2) {
  background-color: #afa3bd;
}
color-palette.other pal-content pal-row:nth-child(14) color-swatch:nth-child(3) {
  background-color: #797089;
}
color-palette.other pal-content pal-row:nth-child(14) color-swatch:nth-child(4) {
  background-color: #443e56;
}
color-palette.other pal-content pal-row:nth-child(14) color-swatch:nth-child(5) {
  background-color: #292634;
}
color-palette.other pal-content pal-row:nth-child(14) color-swatch:nth-child(6) {
  background-color: #1b1a23;
}
color-palette.other pal-content pal-row:nth-child(14) color-swatch:nth-child(7) {
  background-color: #15151f;
}
color-palette.other pal-content pal-row:nth-child(14) color-swatch:nth-child(8) {
  background-color: #111117;
}
color-palette.other pal-content pal-row:nth-child(14) color-swatch:nth-child(9) {
  background-color: #0c0c12;
}
color-palette.other pal-content pal-row:nth-child(16) color-swatch:nth-child(1) {
  background-color: #f3fdfd;
}
color-palette.other pal-content pal-row:nth-child(16) color-swatch:nth-child(2) {
  background-color: #c2cccc;
}
color-palette.other pal-content pal-row:nth-child(16) color-swatch:nth-child(3) {
  background-color: #919899;
}
color-palette.other pal-content pal-row:nth-child(16) color-swatch:nth-child(4) {
  background-color: #505a5a;
}
color-palette.other pal-content pal-row:nth-child(18) color-swatch:nth-child(1) {
  background-color: #90a6b0;
}
color-palette.other pal-content pal-row:nth-child(18) color-swatch:nth-child(2) {
  background-color: #6b7b82;
}
color-palette.other pal-content pal-row:nth-child(18) color-swatch:nth-child(3) {
  background-color: #495459;
}
color-palette.other pal-content pal-row:nth-child(18) color-swatch:nth-child(4) {
  background-color: #2a3033;
}
color-palette.other pal-content pal-row:nth-child(18) color-swatch:nth-child(5) {
  background-color: #1b1f21;
}
color-palette.other pal-content pal-row:nth-child(18) color-swatch:nth-child(6) {
  background-color: #101314;
}
color-palette.other pal-content pal-row:nth-child(18) color-swatch:nth-child(7) {
  background-color: #0a0c0d;
}

color-swatch {
  background-color: none;
}/*# sourceMappingURL=colors.css.map */