:root{
    --artDetailsBackgroundColor: rgba(0, 0, 0, 70%);

    --categoryButtonSize: 300px;
    --categoryButtonBorderRadius: 10px;
    --transitionDuration: 0.1s;

	--slicePadding: 40px;
	--sliceWidth: 85%;
	--sliceBorderRadius: 20px;
	--sliceBoxShadowSettings: 0 0 1rem black;

    --mediaBorderSettings: 10px ridge white;
    --mediaBorderSettingsHover: 10px ridge cornflowerblue;
    --mediaBorderRadius: 0;
    --mediaDropShadowSettings: 5px 5px 20px black;
}
h1{
    font-size: 6rem;
}
h2{
    margin-top: 1ch;
}

.title-slice{
    margin-top: var(--headerHeight);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.category-container{
    margin: auto;
    max-width: 50%;
    display:inline-block;
}
#category-button {
    width: var(--categoryButtonSize);
    padding: 16px;

    font-size: 1.25rem;
    font-family: Roboto Mono;
    color: white;

    border: none;
    border-radius: var(--categoryButtonBorderRadius);
    box-shadow: var(--mediaDropShadowSettings);
    background-color: cornflowerblue;

    transition: all var(--transitionDuration);
}
.category-container:hover #category-button{
    background-color: slateblue;
    border-radius: var(--categoryButtonBorderRadius) var(--categoryButtonBorderRadius) 0px 0px;
}
.categories {
    width: var(--categoryButtonSize);

    opacity: 0;
    z-index: -1;
    position: absolute;

    box-shadow: var(--mediaDropShadowSettings);
    border-radius: 0px 0px var(--categoryButtonBorderRadius) var(--categoryButtonBorderRadius);
    background-color: white;

    transition: all var(--transitionDuration);
}
.categories > a, label {
    padding: 6px 0px;
    display: block;

    color: black;
    text-decoration: none;
    font-family: Roboto Mono;
}
.category-container:hover .categories{
    opacity: 100%;
    z-index: 1;
}
.categories > a:hover{
    background-color: lightgray;
    color: black;
}
.lastEntry{
    border-radius: 0px 0px var(--categoryButtonBorderRadius) var(--categoryButtonBorderRadius);
}


#gallery{
    width: var(--sliceWidth);
    margin: auto;
    margin-top: 40px;
	padding: var(--slicePadding);

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;

	overflow: hidden;
	/*border: 10px solid green;*/
	border-radius: var(--sliceBorderRadius);
	box-shadow: var(--sliceBoxShadowSettings);
    background-color: peru;
}
.entry{
    border: var(--mediaBorderSettings);
    border-radius: var(--mediaBorderRadius);
    box-shadow: var(--mediaDropShadowSettings);
    margin: 10px;
    opacity: 0;
}
.entry > img{
    display: block;
    height: 250px;
}
.entry:hover{
    border: var(--mediaBorderSettingsHover);
    transform: scale(2);
}
#cache, .cache{
    width: 1px;
    height: 1px;
    position: absolute;
    transform: translateY(-5000px);
    opacity: 0;
    pointer-events: none;
}


#art-details-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    background-color: var(--artDetailsBackgroundColor);
    opacity: 0;
    z-index: -1;
}
#art-details-container{
    width: 65%;
    height: 65%;
    /*position: absolute;*/

    display: flex;
	/*flex-direction: row;*/
	/*flex-wrap: none;*/
	justify-content: space-evenly;
	align-items: center;
    opacity: 100%;
}
#image-container{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#image-container > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    border: var(--mediaBorderSettings);
    border-radius: var(--mediaBorderRadius);
    box-shadow: var(--mediaDropShadowSettings);
}
#text-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 1ch;

    text-align: left;
    overflow: auto;
    background-color: black;

    border: var(--mediaBorderSettings);
    border-radius: var(--mediaBorderRadius);
    box-shadow: var(--mediaDropShadowSettings);
}
